doctype 5
html(itemscope, itemtype="http://schema.org/Product")
	head
		title Omeagull

		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
		<meta name="keywords" content="chatroom firemoth eagull eagle seagull gull fire moth group chat trollmoth chaosmoth groupchat">
		<meta name="description" content="A new gateway to FireMoth for April Fools' 2012">
		<meta name="copyright" content="&copy; 2011 Eagull">
		<meta itemprop="name" content="Omeagull">
		<meta itemprop="description" content="A new gateway to FireMoth for April Fools' 2012">
		<meta itemprop="url" content="http://om.eagull.net/">
		<meta itemprop="image" content="http://www.eagull.net/logo.png">
		<meta itemprop="author" content="http://plus.google.com/102352740383917776245">
		<meta property="og:title" content="Omeagull" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://om.eagull.net/" />
		<meta property="og:image" content="http://www.eagull.net/logo.png" />
		<meta property="og:site_name" content="Omeagull" />

		link(rel='stylesheet', href='/omegle.css')
		style(type='text/css')
			body { min-width: 900px; }
			#logo { margin-right: 1rem; }
			.logwrapper { margin-right: 0px; }
			.controlwrapper { margin-right: 0px; }
			#sharebuttons span { margin: 0 0.5rem }
			#gplus { position: absolute; right: 20rem; bottom: 0.33rem; }
			#fblike { position: absolute; right: 22.5rem; bottom: 0.67rem; }
		link(rel='icon', type='image/x-icon', href="/favicon.ico")
		script window.blaze = { version: "@VERSION@", debug: (location.hostname.indexOf('eagull.net') == -1) };
		script(src="/lib/jquery.min.js")
		script(src="/lib/strophe.min.js")
		script(src="/lib/strophe.muc.min.js")
		script(src="/omeagull.min.js")

	body
		#header
			h1#logo
				img(src="/logo.png", height="57", alt="Omeagullible")
			h2#tagline
				img(src="/tagline.png", width="220", height="57", alt="Talk to strangers!")
			#gplus
				.g-plusone(data-annotation="none", data-href="http://www.eagull.net/")
			#fblike
				.fb-like(data-href="http://www.eagull.net/", data-layout="button_count")
			#sharebuttons
				span
					a.ajax(x-doc="17SowdU8hiOngT-oDWs2Ho_UAjf5yy1yjEgXytBMnNJI", href="") About
				span
					a.ajax(x-doc="1Faa0akTtbOgC2k6RRjl_xRamsAYJwzFgzJb6GJ0nb80", href="") Usage Guide
				span
					a.ajax(x-doc="1-TwAcDexcW7a1PakgQJRrHr07ZXJf_ovF1KbTPzvHns", href="") Terms of Use
				span
					a.ajax(x-doc="1sYF5bq56pj12Q8E9md5Y_0hFQu0vRmpdMtyzHa0qEL8", href="") Privacy
			#onlinecount
				strong(title="it's over 9000!!!1!") 9001
				|  strangers online
		.chatbox
			.logwrapper(style="top:90px")
				.logbox
					.logitem
						p.statuslog Hunting for strangers...
				.logwrapperpush
			.controlwrapper
				table.controltable(cellpadding=0, cellspacing=0, border=0)
					tbody
						tr
							td.disconnectbtncell
								.disconnectbtnwrapper
									button.disconnectbtn Disconnect
							td.chatmsgcell
								.chatmsgwrapper
									textarea.chatmsg(cols=80, rows=3)
							td.sendbthcell
								.sendbtnwrapper
									button.sendbtn Send
										.btnkbshortcut Enter

		script#templateYouMsg(type='x-template')
			.logitem
				p.youmsg
					strong.msgsource {nick}:
					|  {msg}
		script#templateStrangerMsg(type='x-template')
			.logitem
				p.strangermsg
					strong.msgsource {nick}:
					|  {msg}
		script#templatePrivateMsg(type='x-template')
			.logitem
				p.strangermsg
					strong.msgsource(style="color: green") {nick}:
					|  {msg}
		script#templateStatusMsg(type='x-template')
			.logitem
				p.statuslog {msg}
		script(src="http://www.google-analytics.com/ga.js")
		script(src="/lib/jquery.fancybox.pack.js")
		link(rel="stylesheet", href="/lib/jquery.fancybox.css")
		#fb-root
		script(src="//apis.google.com/js/plusone.js", async)
